@model List<Table>

<h1>Tables</h1>

<a asp-action="AddTable" asp-controller="AdminTable" class="btn btn-outline-primary" style="margin-bottom:1rem">Add new Table</a>
@if (Model == null || !Model.Any())
{
    <p>Failed to load model, please try logging out and in again.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Table Number</th>
                <th>Seats</th>
                <th>Bookings</th>
                <th>Delete Table</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model)
            {
                <tr>
                    <td>@table.TableNumber</td>
                    <td>@table.Seats</td>
                    <td>
                        @foreach (var booking in table.Bookings)
                        {
                            <div>
                                <p>Booking ID: @booking.Id</p>
                                <p>Booked At: @booking.TimeBooked</p>
                                <p>Customer Count: @booking.CustomerCount</p>
                                <br />
                            </div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-controller="AdminTable" asp-route-id="@table.TableId" style="display:inline;" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-danger" style="margin-top: 1rem">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this item?');
    }
</script>