@{
    ViewData["Title"] = "Admin Area";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Cozy Fork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantApiMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">The Cozy Fork Admin Site</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageBookings", "AdminBooking")">Booking Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageMenu", "AdminMenu")">Menu Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageTables", "AdminTable")">Table Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageCustomers", "AdminCustomer")">Customer Management</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a href="/signin" class="btn btn-outline-primary mr-2">Sign In</a>
                <a href="/signout" class="btn btn-primary">Sign Out</a>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
