@model List<MenuItem>

<h1>Menu Items</h1>
<p>List of available dishes</p>

<a asp-action="AddMenuItem" asp-controller="AdminMenu" class="btn btn-outline-primary" style="margin-bottom:1rem">Add new item to Menu</a>

@foreach(var menuItem in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@menuItem.Name</h5>
            <p class="card-subtitle">Price: @menuItem.Price</p>
            <p class="card-body">@menuItem.Description</p>

            <p class="card-text">
                <span class="@(menuItem.Available ? "text-success" : "text-danger")">
                    @(menuItem.Available ? "Available" : "Unavailable")
                    </span>
                </p>
        </div>
        <a class="card-link" style="margin:1rem" asp-action="Edit" asp-controller="AdminMenu" asp-route-id="@menuItem.Id">Edit</a>
    </div>
}